<a href="https://colab.research.google.com/github/ibrahim10sy/learn-python/blob/main/Filtrage_conditionnelle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/tips.csv')

In [ ]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,49.59,5.76,Female,No,Sat,Lunch,1,49.59,Michael Avila,1900150430370796,Sat9766
1,44.84,1.36,Female,Yes,Thur,Dinner,2,22.42,Tonya Carter,9662633192418041,Thur8155
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955
3,43.73,8.10,Female,No,Fri,Dinner,1,43.73,Nathaniel Harris,7537214471119914,Fri9117
4,14.64,5.38,Male,No,Sat,Lunch,6,2.44,Tonya Carter,6707651664586514,Sat9462

In [ ]:
# filtrage
bool_series = df['total_bill']>40

In [ ]:
df[bool_series]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,49.59,5.76,Female,No,Sat,Lunch,1,49.59,Michael Avila,1900150430370796,Sat9766
1,44.84,1.36,Female,Yes,Thur,Dinner,2,22.42,Tonya Carter,9662633192418041,Thur8155
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955
3,43.73,8.10,Female,No,Fri,Dinner,1,43.73,Nathaniel Harris,7537214471119914,Fri9117
5,48.15,6.74,Male,No,Fri,Dinner,6,8.03,Travis Walters,5384340499728358,Fri4944
...,...,...,...,...,...,...,...,...,...,...,...
223,48.03,8.50,Female,Yes,Thur,Lunch,5,9.61,Monica Sanders,5905637357586994,Thur6738
235,42.77,8.99,Male,No,Thur,Lunch,2,21.39,Travis Walters,124668007388340,Thur5465
237,42.80,2.39,Female,Yes,Thur,Dinner,5,8.56,Nathaniel Harris,8471930982220635,Thur5988
239,48.48,3.59,Male,No,Fri,Lunch,3,16.16,Tonya Carter,420616308530044,Fri2931
240,47.14,8.75,Female,Yes,Sun,Lunch,6,7.86,Douglas Tucker,5592533605186633,Sun1746

In [ ]:
# par sexe
df[df['sex'] == 'Male']

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955
4,14.64,5.38,Male,No,Sat,Lunch,6,2.44,Tonya Carter,6707651664586514,Sat9462
5,48.15,6.74,Male,No,Fri,Dinner,6,8.03,Travis Walters,5384340499728358,Fri4944
6,11.40,7.92,Male,No,Fri,Lunch,6,1.90,Travis Walters,5564466922876620,Fri3642
9,37.97,1.42,Male,Yes,Fri,Dinner,5,7.59,Michael Avila,6824370763844661,Fri1436
...,...,...,...,...,...,...,...,...,...,...,...
234,24.27,9.96,Male,Yes,Sat,Dinner,5,4.85,Michelle Hardin,4689196998932232,Sat6447
235,42.77,8.99,Male,No,Thur,Lunch,2,21.39,Travis Walters,124668007388340,Thur5465
236,25.91,2.76,Male,No,Fri,Lunch,2,12.96,Douglas Tucker,8720235499119583,Fri4221
239,48.48,3.59,Male,No,Fri,Lunch,3,16.16,Tonya Carter,420616308530044,Fri2931
243,22.50,3.84,Male,No,Fri,Lunch,1,22.50,Travis Walters,5399041384021608,Fri9944

In [ ]:
# par nom
df[df['Payer Name'] == 'Keith Wong']

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955
16,25.72,9.39,Male,No,Sat,Dinner,5,5.14,Keith Wong,8599749080023370,Sat7521
26,38.03,8.10,Male,Yes,Thur,Dinner,1,38.03,Keith Wong,5329426704144900,Thur4859
33,46.97,1.95,Male,Yes,Sat,Lunch,3,15.66,Keith Wong,2563395421143868,Sat4006
39,48.00,5.66,Male,Yes,Sat,Dinner,5,9.60,Keith Wong,8850441856042909,Sat6480
54,29.04,7.00,Male,Yes,Sun,Lunch,6,4.84,Keith Wong,9976658948977693,Sun7493
59,34.96,9.17,Female,Yes,Sun,Dinner,1,34.96,Keith Wong,8063606077548697,Sun2729
63,25.00,9.34,Male,Yes,Fri,Dinner,6,4.17,Keith Wong,2658981361876295,Fri2256
82,36.63,9.18,Male,Yes,Sun,Lunch,4,9.16,Keith Wong,2568721071215295,Sun9180
101,49.07,4.94,Female,No,Fri,Lunch,3,16.36,Keith Wong,1621585235096924,Fri5894
111,11.00,6.68,Female,No,Sun,Lunch,2,5.50,Keith Wong,1677056073271340,Sun6725
113,26.25,2.34,Male,No,Sat,Dinner,4,6.56,Keith Wong,455318769262846,Sat9059
115,46.34,2.00,Female,Yes,Fri,Dinner,3,15.45,Keith Wong,5611716146268012,Fri6467
121,38.73,7.65,Male,Yes,Sun,Dinner,2,19.36,Keith Wong,2282707257305632,Sun1663
139,46.71,5.29,Female,Yes,Fri,Lunch,2,23.36,Keith Wong,5602893985428238,Fri1009
160,19.85,7.88,Female,No,Fri,Lunch,1,19.85,Keith Wong,8752324639807108,Fri1747
163,31.68,1.00,Male,No,Sun,Lunch,5,6.34,Keith Wong,2903479242040270,Sun7274
177,11.08,1.69,Female,No,Thur,Lunch,3,3.69,Keith Wong,3416448079065227,Thur6086
194,13.01,1.07,Male,Yes,Sun,Dinner,5,2.60,Keith Wong,6200023131973418,Sun9969
210,19.83,8.49,Male,No,Sun,Lunch,3,6.61,Keith Wong,3870690365595410,Sun9080
221,34.85,2.33,Male,No,Sat,Lunch,3,11.62,Keith Wong,5296620151144497,Sat4858
227,38.07,1.33,Male,Yes,Thur,Dinner,1,38.07,Keith Wong,4978882836757632,Thur6047
242,18.12,8.12,Female,No,Sun,Lunch,3,6.04,Keith Wong,949194541098695,Sun2552

In [ ]:
# condition multiple
c1 = df['total_bill'] > 30
c2 = df['tip'] >= 5
c3 = df['sex'] == 'Male'
c4 = df['smoker'] == 'Yes'
df[c2 & c1 & c3 & c4]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
21,36.02,6.05,Male,Yes,Thur,Lunch,3,12.01,Michael Avila,7499860308523082,Thur3984
26,38.03,8.10,Male,Yes,Thur,Dinner,1,38.03,Keith Wong,5329426704144900,Thur4859
37,48.26,6.68,Male,Yes,Thur,Lunch,4,12.06,Michael Avila,9129226422363525,Thur7852
39,48.00,5.66,Male,Yes,Sat,Dinner,5,9.60,Keith Wong,8850441856042909,Sat6480
58,40.55,6.67,Male,Yes,Sat,Dinner,6,6.76,Michelle Hardin,7616234029038220,Sat3949
82,36.63,9.18,Male,Yes,Sun,Lunch,4,9.16,Keith Wong,2568721071215295,Sun9180
110,35.80,8.56,Male,Yes,Fri,Dinner,5,7.16,Douglas Tucker,6519136955630471,Fri3347
121,38.73,7.65,Male,Yes,Sun,Dinner,2,19.36,Keith Wong,2282707257305632,Sun1663
165,48.24,8.43,Male,Yes,Sat,Lunch,3,16.08,Nathaniel Harris,6275430739880567,Sat7934
173,47.45,5.90,Male,Yes,Sun,Lunch,2,23.73,Monica Sanders,4981707457259681,Sun1192
186,47.11,7.32,Male,Yes,Thur,Dinner,1,47.11,Travis Walters,4458215595547921,Thur2494
200,39.93,7.92,Male,Yes,Thur,Lunch,5,7.99,Christy Cunningham,4689559738742894,Thur1719
203,32.72,6.15,Male,Yes,Sun,Dinner,5,6.54,Travis Walters,1728061949127606,Sun6146
208,40.70,8.39,Male,Yes,Sat,Dinner,6,6.78,Michael Avila,8728789812076677,Sat1257
215,47.50,8.49,Male,Yes,Thur,Lunch,4,11.88,Travis Walters,1210870123541359,Thur8350

In [ ]:
options  = ['Lunch','Dinner']

In [ ]:
df['time'].isin(options)

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: time, Length: 244, dtype: bool

In [ ]:
# recuperer la ligne 1
ro = df.loc[0]

In [ ]:
ro

total_bill                     49.59
tip                             5.76
sex                           Female
smoker                            No
day                              Sat
time                           Lunch
size                               1
price_per_person               49.59
Payer Name             Michael Avila
CC Number           1900150430370796
Payment ID                   Sat9766
Name: 0, dtype: object

In [ ]:
# copie du df
df_copy = df.copy()

In [ ]:
df_copy.head(3)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,49.59,5.76,Female,No,Sat,Lunch,1,49.59,Michael Avila,1900150430370796,Sat9766
1,44.84,1.36,Female,Yes,Thur,Dinner,2,22.42,Tonya Carter,9662633192418041,Thur8155
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955

# ***Methode apply() de pandas ***

In [ ]:
# conversion
str(123456789)[-4:]

'6789'

In [ ]:
# fonction
def last_num(num):
  result = str(num)[-4:]
  return result

In [ ]:
last_num(123456789)

'6789'

In [ ]:
c_num = df['CC Number']

In [ ]:
c_num

0      1900150430370796
1      9662633192418041
2      8931077392011890
3      7537214471119914
4      6707651664586514
             ...
239     420616308530044
240    5592533605186633
241    5885372770415014
242     949194541098695
243    5399041384021608
Name: CC Number, Length: 244, dtype: int64

In [ ]:
# methode 1
for i in c_num:
  print(last_num(i))

0796
8041
1890
9914
6514
8358
6620
3412
2017
4661
3670
6553
9711
5783
6786
4066
3370
0212
3679
3644
0738
3082
2770
2917
0704
1039
4900
7891
5155
8081
9762
6056
2216
3868
3427
7154
6458
3525
6427
2909
8951
1749
8581
5281
4612
7662
0764
9120
9155
8254
0694
4200
9078
5996
7693
5530
2102
0699
8220
8697
9727
9246
5026
6295
5986
2836
0031
4079
9782
1119
3358
2571
6869
7501
5762
0701
4198
9327
3471
5543
2228
4155
5295
9722
4541
4297
4545
2786
0687
5063
2634
5999
8060
2079
4497
7055
2518
6228
0570
6120
7146
6924
1196
6959
7191
3544
2016
2594
2022
0635
0471
1340
4449
2846
0954
8012
8449
1305
3053
8326
5713
5632
6740
9173
6957
0608
6408
1024
0329
8560
2392
5968
7579
1324
3450
4962
8395
7881
6293
8238
4522
0725
2775
8998
6762
2788
0420
0972
8988
8612
8963
8080
8902
2904
7258
9481
3529
1123
4871
9932
7108
2655
5306
0270
7322
0567
0404
8668
9924
6913
2171
7514
5832
9681
2621
0269
1763
5227
2582
0489
9678
0704
8023
5286
8462
1921
7921
7144
2731
4774
5715
4315
7169
3397
3418
5064
9508
7593
0211
3691
2894
9076
7642
7606
2453
2310
9641
1445
6677
2764
5410
9630
9146
5254
1439
1359
9712
8027
7028
2025
5597
4497
3368
6994
2071
6974
6613
7632
7974
4068
9221
6959
0061
4011
2232
8340
9583
0635
4032
0044
6633
5014
8695
1608

In [ ]:
# methode 2
df['last_num'] = df['CC Number'].apply(last_num)

In [ ]:
df['last_num']

0      0796
1      8041
2      1890
3      9914
4      6514
       ...
239    0044
240    6633
241    5014
242    8695
243    1608
Name: last_num, Length: 244, dtype: object

In [ ]:
def yelp(price):
  if price < 10 :
    return '$'
  elif price >= 10 and price < 30:
    return '$$'
  else:
    return '$$$'

In [ ]:
df.index

RangeIndex(start=0, stop=244, step=1)

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID',
       'last_num'],
      dtype='object')

In [ ]:
df['yelp']=df['price_per_person'].apply(yelp)

In [ ]:
df.head(3)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_num,yelp
0,49.59,5.76,Female,No,Sat,Lunch,1,49.59,Michael Avila,1900150430370796,Sat9766,0796,$$$
1,44.84,1.36,Female,Yes,Thur,Dinner,2,22.42,Tonya Carter,9662633192418041,Thur8155,8041,$$
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955,1890,$

# ***Méthode apply() pour plusieurs colonnes***

In [ ]:
# fonction lambda
lambda n:n*2

In [ ]:
df['tip'].apply(lambda n:n*2)

0      11.52
1       2.72
2       8.30
3      16.20
4      10.76
       ...
239     7.18
240    17.50
241    16.04
242    16.24
243     7.68
Name: tip, Length: 244, dtype: float64

In [ ]:
def price(total,tip):
  if(tip/total > 0.25):
    return 'Très généreux'
  else:
    return 'Merci'

In [ ]:
df.head(3)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_num,yelp
0,49.59,5.76,Female,No,Sat,Lunch,1,49.59,Michael Avila,1900150430370796,Sat9766,0796,$$$
1,44.84,1.36,Female,Yes,Thur,Dinner,2,22.42,Tonya Carter,9662633192418041,Thur8155,8041,$$
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955,1890,$

In [ ]:
df['quality'] = df[['total_bill','tip']].apply(lambda df:price(df['total_bill'],df['tip']), axis=1)

In [ ]:
df.head(3)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_num,yelp,quality
0,49.59,5.76,Female,No,Sat,Lunch,1,49.59,Michael Avila,1900150430370796,Sat9766,0796,$$$,Merci
1,44.84,1.36,Female,Yes,Thur,Dinner,2,22.42,Tonya Carter,9662633192418041,Thur8155,8041,$$,Merci
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955,1890,$,Merci

0              Merci
1              Merci
2              Merci
3              Merci
4      Très généreux
           ...
239            Merci
240            Merci
241    Très généreux
242    Très généreux
243            Merci
Length: 244, dtype: object

In [ ]:
np.vectorize(price)(df['total_bill'],df['tip'])

array(['Merci', 'Merci', 'Merci', 'Merci', 'Très généreux', 'Merci',
       'Très généreux', 'Très généreux', 'Très généreux', 'Merci',
       'Merci', 'Merci', 'Très généreux', 'Merci', 'Merci', 'Merci',
       'Très généreux', 'Très généreux', 'Merci', 'Très généreux',
       'Très généreux', 'Merci', 'Très généreux', 'Merci', 'Merci',
       'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci',
       'Très généreux', 'Merci', 'Très généreux', 'Très généreux',
       'Merci', 'Merci', 'Très généreux', 'Merci', 'Très généreux',
       'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Très généreux',
       'Très généreux', 'Très généreux', 'Merci', 'Merci',
       'Très généreux', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci',
       'Merci', 'Merci', 'Très généreux', 'Merci', 'Très généreux',
       'Merci', 'Très généreux', 'Merci', 'Merci', 'Très généreux',
       'Merci', 'Merci', 'Très généreux', 'Merci', 'Merci', 'Merci',
       'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci',
       'Très généreux', 'Merci', 'Très généreux', 'Merci', 'Merci',
       'Merci', 'Merci', 'Merci', 'Très généreux', 'Merci', 'Merci',
       'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci',
       'Très généreux', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci',
       'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci',
       'Très généreux', 'Merci', 'Merci', 'Très généreux', 'Merci',
       'Très généreux', 'Merci', 'Merci', 'Très généreux', 'Merci',
       'Merci', 'Merci', 'Très généreux', 'Merci', 'Merci', 'Merci',
       'Merci', 'Merci', 'Merci', 'Très généreux', 'Merci', 'Merci',
       'Très généreux', 'Merci', 'Merci', 'Très généreux',
       'Très généreux', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci',
       'Merci', 'Très généreux', 'Très généreux', 'Merci', 'Merci',
       'Très généreux', 'Très généreux', 'Très généreux', 'Merci',
       'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Très généreux',
       'Merci', 'Merci', 'Très généreux', 'Merci', 'Merci', 'Merci',
       'Merci', 'Merci', 'Très généreux', 'Très généreux', 'Merci',
       'Merci', 'Merci', 'Merci', 'Très généreux', 'Merci', 'Merci',
       'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Très généreux',
       'Merci', 'Très généreux', 'Merci', 'Très généreux', 'Merci',
       'Merci', 'Merci', 'Très généreux', 'Très généreux', 'Merci',
       'Très généreux', 'Très généreux', 'Merci', 'Merci',
       'Très généreux', 'Très généreux', 'Merci', 'Merci',
       'Très généreux', 'Merci', 'Merci', 'Merci', 'Merci', 'Merci',
       'Merci', 'Merci', 'Très généreux', 'Merci', 'Très généreux',
       'Très généreux', 'Très généreux', 'Merci', 'Très généreux',
       'Merci', 'Merci', 'Merci', 'Merci', 'Merci', 'Très généreux',
       'Très généreux', 'Merci', 'Très généreux', 'Merci', 'Merci',
       'Merci', 'Merci', 'Merci', 'Très généreux', 'Très généreux',
       'Merci', 'Très généreux', 'Merci', 'Très généreux',
       'Très généreux', 'Merci', 'Merci', 'Merci', 'Très généreux',
       'Merci', 'Merci', 'Très généreux', 'Très généreux', 'Merci'],
      dtype='<U13')

# ***Méthode DESCRIBE , TRI***

In [ ]:
# Description
df.describe()

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    30.519385    5.391680    3.323770         13.129959  4.939446e+15
std     11.468785    2.649527    1.624684         11.036114  2.800545e+15
min     10.020000    1.000000    1.000000          1.700000  1.246680e+14
25%     20.102500    3.167500    2.000000          5.747500  2.636416e+15
50%     29.015000    5.390000    3.000000          9.040000  5.211561e+15
75%     40.650000    7.767500    5.000000         16.100000  7.004865e+15
max     49.950000    9.990000    6.000000         49.590000  9.976659e+15

In [ ]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,234,235,236,237,238,239,240,241,242,243
total_bill,49.59,44.84,44.09,43.73,14.64,48.15,11.4,10.62,36.01,37.97,...,24.27,42.77,25.91,42.8,19.64,48.48,47.14,31.06,18.12,22.5
tip,5.76,1.36,4.15,8.1,5.38,6.74,7.92,4.06,9.12,1.42,...,9.96,8.99,2.76,2.39,6.23,3.59,8.75,8.02,8.12,3.84
sex,Female,Female,Male,Female,Male,Male,Male,Female,Female,Male,...,Male,Male,Male,Female,Female,Male,Female,Female,Female,Male
smoker,No,Yes,No,No,No,No,No,No,No,Yes,...,Yes,No,No,Yes,Yes,No,Yes,Yes,No,No
day,Sat,Thur,Thur,Fri,Sat,Fri,Fri,Fri,Fri,Fri,...,Sat,Thur,Fri,Thur,Fri,Fri,Sun,Sun,Sun,Fri
time,Lunch,Dinner,Lunch,Dinner,Lunch,Dinner,Lunch,Dinner,Dinner,Dinner,...,Dinner,Lunch,Lunch,Dinner,Lunch,Lunch,Lunch,Dinner,Lunch,Lunch
size,1,2,5,1,6,6,6,6,2,5,...,5,2,2,5,4,3,6,4,3,1
price_per_person,49.59,22.42,8.82,43.73,2.44,8.03,1.9,1.77,18.0,7.59,...,4.85,21.39,12.96,8.56,4.91,16.16,7.86,7.76,6.04,22.5
Payer Name,Michael Avila,Tonya Carter,Keith Wong,Nathaniel Harris,Tonya Carter,Travis Walters,Travis Walters,Travis Walters,Michael Avila,Michael Avila,...,Michelle Hardin,Travis Walters,Douglas Tucker,Nathaniel Harris,Christy Cunningham,Tonya Carter,Douglas Tucker,Monica Sanders,Keith Wong,Travis Walters
CC Number,1900150430370796,9662633192418041,8931077392011890,7537214471119914,6707651664586514,5384340499728358,5564466922876620,182160099143412,9752709003142017,6824370763844661,...,4689196998932232,124668007388340,8720235499119583,8471930982220635,5504027586034032,420616308530044,5592533605186633,5885372770415014,949194541098695,5399041384021608
Payment ID,Sat9766,Thur8155,Thur3955,Fri9117,Sat9462,Fri4944,Fri3642,Fri5052,Fri2524,Fri1436,...,Sat6447,Thur5465,Fri4221,Thur5988,Fri7897,Fri2931,Sun1746,Sun1633,Sun2552,Fri9944
last_num,0796,8041,1890,9914,6514,8358,6620,3412,2017,4661,...,2232,8340,9583,0635,4032,0044,6633,5014,8695,1608
yelp,$$$,$$,$,$$$,$,$,$,$,$$,$,...,$,$$,$$,$,$,$$,$,$,$,$$
quality,Merci,Merci,Merci,Merci,Très généreux,Merci,Très généreux,Très généreux,Très généreux,Merci,...,Très généreux,Merci,Merci,Merci,Très généreux,Merci,Merci,Très généreux,Très généreux,Merci

In [ ]:
df.sort_values('tip',ascending=False)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_num,yelp,quality
233,28.99,9.99,Female,Yes,Sun,Lunch,1,28.99,Douglas Tucker,2940549232704011,Sun3976,4011,$$,Très généreux
216,44.77,9.98,Female,No,Sat,Dinner,6,7.46,Christy Cunningham,314065262809712,Sat5007,9712,$,Merci
234,24.27,9.96,Male,Yes,Sat,Dinner,5,4.85,Michelle Hardin,4689196998932232,Sat6447,2232,$,Très généreux
87,40.64,9.90,Male,No,Thur,Lunch,6,6.77,Dennis Dixon,824226547632786,Thur6821,2786,$,Merci
119,28.32,9.80,Female,No,Sun,Lunch,2,14.16,Michelle Hardin,4597977368908326,Sun3801,8326,$$,Très généreux
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,15.08,1.05,Male,Yes,Fri,Lunch,5,3.02,Douglas Tucker,5038258605409727,Fri9331,9727,$,Merci
131,49.58,1.02,Female,No,Sun,Lunch,1,49.58,Monica Sanders,2912366770705968,Sun4541,5968,$$$,Merci
77,39.35,1.02,Male,Yes,Thur,Lunch,4,9.84,Monica Sanders,8272953158149327,Thur1659,9327,$,Merci
75,19.71,1.01,Male,Yes,Sat,Lunch,2,9.86,Dennis Dixon,8281105476090701,Sat9571,0701,$,Merci
163,31.68,1.00,Male,No,Sun,Lunch,5,6.34,Keith Wong,2903479242040270,Sun7274,0270,$,Merci

In [ ]:
 df.sort_values(['tip','size'])

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
163,31.68,1.00,Male,No,Sun,Lunch,5,6.34,Keith Wong,2903479242040270,Sun7274
75,19.71,1.01,Male,Yes,Sat,Lunch,2,9.86,Dennis Dixon,8281105476090701,Sat9571
131,49.58,1.02,Female,No,Sun,Lunch,1,49.58,Monica Sanders,2912366770705968,Sun4541
77,39.35,1.02,Male,Yes,Thur,Lunch,4,9.84,Monica Sanders,8272953158149327,Thur1659
60,15.08,1.05,Male,Yes,Fri,Lunch,5,3.02,Douglas Tucker,5038258605409727,Fri9331
...,...,...,...,...,...,...,...,...,...,...,...
119,28.32,9.80,Female,No,Sun,Lunch,2,14.16,Michelle Hardin,4597977368908326,Sun3801
87,40.64,9.90,Male,No,Thur,Lunch,6,6.77,Dennis Dixon,824226547632786,Thur6821
234,24.27,9.96,Male,Yes,Sat,Dinner,5,4.85,Michelle Hardin,4689196998932232,Sat6447
216,44.77,9.98,Female,No,Sat,Dinner,6,7.46,Christy Cunningham,314065262809712,Sat5007
233,28.99,9.99,Female,Yes,Sun,Lunch,1,28.99,Douglas Tucker,2940549232704011,Sun3976

In [ ]:
df['tip'].max()

9.99

In [ ]:
df['tip'].idxmax()

233

In [ ]:
df.iloc[233]

total_bill                     28.99
tip                             9.99
sex                           Female
smoker                           Yes
day                              Sun
time                           Lunch
size                               1
price_per_person               28.99
Payer Name            Douglas Tucker
CC Number           2940549232704011
Payment ID                   Sun3976
Name: 233, dtype: object

In [ ]:
# corrélation pearson
df.corr

<bound method DataFrame.corr of      total_bill   tip     sex smoker   day    time  size  price_per_person  \
0         49.59  5.76  Female     No   Sat   Lunch     1             49.59
1         44.84  1.36  Female    Yes  Thur  Dinner     2             22.42
2         44.09  4.15    Male     No  Thur   Lunch     5              8.82
3         43.73  8.10  Female     No   Fri  Dinner     1             43.73
4         14.64  5.38    Male     No   Sat   Lunch     6              2.44
..          ...   ...     ...    ...   ...     ...   ...               ...
239       48.48  3.59    Male     No   Fri   Lunch     3             16.16
240       47.14  8.75  Female    Yes   Sun   Lunch     6              7.86
241       31.06  8.02  Female    Yes   Sun  Dinner     4              7.76
242       18.12  8.12  Female     No   Sun   Lunch     3              6.04
243       22.50  3.84    Male     No   Fri   Lunch     1             22.50

           Payer Name         CC Number Payment ID
0       Michael Avila  1900150430370796    Sat9766
1        Tonya Carter  9662633192418041   Thur8155
2          Keith Wong  8931077392011890   Thur3955
3    Nathaniel Harris  7537214471119914    Fri9117
4        Tonya Carter  6707651664586514    Sat9462
..                ...               ...        ...
239      Tonya Carter   420616308530044    Fri2931
240    Douglas Tucker  5592533605186633    Sun1746
241    Monica Sanders  5885372770415014    Sun1633
242        Keith Wong   949194541098695    Sun2552
243    Travis Walters  5399041384021608    Fri9944

[244 rows x 11 columns]>

In [ ]:
# retourne les valeurs unique
df['day'].unique()

array(['Sat', 'Thur', 'Fri', 'Sun'], dtype=object)

In [ ]:
# retourne  vaeleur unique
df['Payer Name'].unique()

array(['Michael Avila', 'Tonya Carter', 'Keith Wong', 'Nathaniel Harris',
       'Travis Walters', 'Michelle Hardin', 'Dennis Dixon',
       'Douglas Tucker', 'Monica Sanders', 'Christy Cunningham'],
      dtype=object)

In [ ]:
# retourne le nombre de vaeleur unique
df['Payer Name'].nunique()

10

In [ ]:
df['day'].value_counts()

day
Sun     76
Fri     62
Thur    56
Sat     50
Name: count, dtype: int64

In [ ]:
# fonction de remplacement
df['sex'].replace(['Female','Male'], ['Femme','Homme'])

0      Femme
1      Femme
2      Homme
3      Femme
4      Homme
       ...
239    Homme
240    Femme
241    Femme
242    Femme
243    Homme
Name: sex, Length: 244, dtype: object

In [ ]:
# renommer une colonne
df.rename(columns={'sex':'sexe'}, inplace=True)

In [ ]:
df.head(3)

,total_bill,tip,sexe,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,49.59,5.76,Female,No,Sat,Lunch,1,49.59,Michael Avila,1900150430370796,Sat9766
1,44.84,1.36,Female,Yes,Thur,Dinner,2,22.42,Tonya Carter,9662633192418041,Thur8155
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955

In [ ]:
# fonction map
my_dic = {'Female':'F','Male':'H'}

In [ ]:
df['sexe'].map(my_dic)

0      F
1      F
2      H
3      F
4      H
      ..
239    H
240    F
241    F
242    F
243    H
Name: sexe, Length: 244, dtype: object

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [ ]:
df_simple = pd.DataFrame([1,2,2],['a','b','c'])

In [ ]:
df_simple.duplicated()

a    False
b    False
c     True
dtype: bool

In [ ]:
df_simple.drop_duplicates()

   0
a  1
b  2

In [ ]:
# retourne 10% du dataframe
df.sample(frac=0.1)

,total_bill,tip,sexe,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
96,19.28,1.23,Male,No,Sun,Dinner,3,6.43,Michelle Hardin,8600706259152518,Sun2247
57,39.88,6.70,Male,No,Sun,Dinner,1,39.88,Christy Cunningham,2443535307030699,Sun7013
148,15.15,7.14,Female,Yes,Thur,Lunch,3,5.05,Michelle Hardin,3886337172498988,Thur2268
130,12.25,4.50,Female,Yes,Thur,Dinner,3,4.08,Dennis Dixon,7001395678942392,Thur2773
189,20.13,8.13,Female,Yes,Thur,Dinner,4,5.03,Michael Avila,6518319191964774,Thur2966
1,44.84,1.36,Female,Yes,Thur,Dinner,2,22.42,Tonya Carter,9662633192418041,Thur8155
218,42.79,4.82,Male,No,Sun,Dinner,5,8.56,Travis Walters,1098201557997028,Sun1260
140,28.61,3.73,Male,Yes,Sat,Lunch,1,28.61,Monica Sanders,5550147099574522,Sat9048
241,31.06,8.02,Female,Yes,Sun,Dinner,4,7.76,Monica Sanders,5885372770415014,Sun1633
163,31.68,1.00,Male,No,Sun,Lunch,5,6.34,Keith Wong,2903479242040270,Sun7274
51,20.02,5.83,Male,No,Fri,Lunch,1,20.02,Dennis Dixon,3083511579864200,Fri9135
152,42.01,6.86,Male,No,Fri,Dinner,6,7.00,Michelle Hardin,691648769128902,Fri9429
10,44.12,1.24,Male,Yes,Fri,Lunch,4,11.03,Michelle Hardin,7970397966573670,Fri4552
138,23.39,4.18,Female,Yes,Thur,Lunch,4,5.85,Travis Walters,5968697811116293,Thur7969
211,24.21,6.31,Male,No,Sat,Lunch,2,12.11,Nathaniel Harris,5135703093749630,Sat1965
2,44.09,4.15,Male,No,Thur,Lunch,5,8.82,Keith Wong,8931077392011890,Thur3955
85,31.71,4.83,Male,Yes,Sat,Dinner,4,7.93,Nathaniel Harris,265518978694297,Sat1145
169,36.60,2.27,Male,No,Sun,Dinner,3,12.20,Michelle Hardin,6689307273056913,Sun9166
45,26.50,5.51,Female,Yes,Fri,Lunch,3,8.83,Tonya Carter,5342083570587662,Fri3257
69,24.29,7.79,Male,No,Sat,Dinner,1,24.29,Michelle Hardin,1428008696651119,Sat2916
235,42.77,8.99,Male,No,Thur,Lunch,2,21.39,Travis Walters,124668007388340,Thur5465
66,19.21,8.62,Male,No,Thur,Dinner,6,3.20,Travis Walters,3127979897950031,Thur7429
90,46.49,9.04,Female,No,Thur,Lunch,3,15.50,Tonya Carter,5841939728452634,Thur1688
144,10.35,5.44,Female,Yes,Fri,Dinner,2,5.17,Michael Avila,6412681349086762,Fri5567

In [ ]:
df.sample(random_state=100)

,total_bill,tip,sexe,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
65,28.92,4.76,Male,No,Fri,Dinner,6,4.82,Michael Avila,2762600449742836,Fri6894