<a href="https://colab.research.google.com/github/ibrahim10sy/learn-python/blob/main/Methode_text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Méthode Text***

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
email = "mon@coachdata.com"

In [4]:
email.split('@')

['mon', 'coachdata.com']

In [6]:
names = pd.Series(['John','Doe','Chat','GPT','1'])

In [7]:
names

0    John
1     Doe
2    Chat
3     GPT
4       1
dtype: object

In [9]:
names.unique()

array(['John', 'Doe', 'Chat', 'GPT', '1'], dtype=object)

In [10]:
names.str.upper()

0    JOHN
1     DOE
2    CHAT
3     GPT
4       1
dtype: object

In [11]:
# on vérifie si un chiffre
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [12]:
names.iloc[0]

'John'

In [15]:
tech = ['GOOG,APPL,TSLA','JPM,AMZN,ECOB']

In [16]:
tickers = pd.Series(tech)

In [26]:
t = tickers.str.split(',', expand=True)

In [27]:
t

      0     1     2
0  GOOG  APPL  TSLA
1   JPM  AMZN  ECOB

In [28]:
t1 = t[0]

In [29]:
t1

0    GOOG
1     JPM
Name: 0, dtype: object

In [30]:
t1[0]

'GOOG'

In [40]:
messy_name = pd.Series(['Andrew  ','bo;bo','  claire'])

In [33]:
messy_name

0    Andrew
1       bo;bo
2      claire
dtype: object

In [36]:
# nettoyage du ;
messy_name.str.replace(';','').str.strip().str.capitalize()

In [38]:
messy_name

0    Andrew
1      Bobo
2    Claire
dtype: object

In [39]:
# fonction pour nettoyé la chaine de caractère
def clean_text(name):
  name = name.replace(';','')
  name = name.strip()
  name = name.capitalize()
  return name

In [41]:
messy_name.apply(clean_text)

0    Andrew
1      Bobo
2    Claire
dtype: object